@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  background-color: #000;
  color: #53533a;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  width: 58%; 
  margin: 0 auto;
}

* { box-sizing: border-box; }


/*=================================
  Header styling starts here
=================================*/

.header-section {
  position: absolute;
  top: 26px;
  left: 5.7%;
  right: 7.5%;
}

.header-section .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo { flex-basis: 33.7%; }

.menu-section {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  flex-basis: 61.3%;
}

.nav-section { flex-basis: 48%; }

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 90%;
}

.nav-items button {
  border: none;
  background: none;
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.control-btn-div { display: none; }

.btn {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-btn-div {
  align-self: flex-end;
}

.contact-btn {
  padding: 8px 19px;
  border: 1px solid #53d494;
  color: #53d494;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner {
  height: 100vh;
  background-image: url("../image/bg.jpg");
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .wrapper {
  text-align: center;
  color: #fff;
}

.banner-title {
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  counter section styling starts here
=================================*/

.counter-section { padding: 80px 0 40px; }

.counter-list { display: flex; }

.counter-item {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  gap: 28px;
}

.counter-item-data {
  display: flex;
  flex-direction: column;
}

.counter-item::before {
  font-family: "FontAwesome";
  font-size: 45px;
  color: #53d494;
}

.members::before { content: "\f70c"; }

.daily-visitors::before { content: "\f84a"; }

.health-program::before { content:  "\e3b2"; }

.heart-beat::before { content:  "\f21e"; }

.count {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.count-name {
  font-size: 16px;
  text-transform: capitalize;
}

/*=================================
  counter section styling ends here
=================================*/

/*=================================
  get in touch styling starts here
=================================*/ 


.get-in-touch-section .wrapper {
  padding: 40px 0 60px;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.get-in-touch-text {
  flex-basis: 40%;
}

.section-title {
  margin: 45px 0 27px;
  color: #53d494;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.section-info {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 60px;
}

.get-in-touch-img img{
  box-shadow: 10px 10px #53d494;
}

.get-in-touch-btn {
  position: absolute;
  bottom: 132px;
  left: 0;
}

.get-in-touch-btn a {
  padding: 21px 27px;
  border: 1px solid #53d494;
  background-color: #53d494;
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

/*=================================
  get in touch styling ends here
=================================*/ 


/*=================================
 classes styling ends here
=================================*/ 

.classes { padding: 70px 0; }

.section-text { width: 47.5%; }

.radio-section {
  margin: 45px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.radio-btn {
  padding: 5px;
  border: none;
  border-radius: 50%;
}

.active-slide { background-color: #53d494; }

/*=================================
 classes styling ends here
=================================*/ 

/*=================================
 schedule styling starts here
=================================*/ 

.schedule { padding: 35px 0 75px; }

.day-list {
  display: flex;
  justify-content: center;
}

.day {
  padding: 13px 18px;
  border: none;
  border-radius: 5px;
  background: none;
  color: #53d494;
  font-size: 17px;
  text-transform: capitalize;
}

.selected {
  background-color: #53d494;
  color: #fff;
}

.time-table {
  margin-top: 47px;
  border: 1px solid #c6cace;
  display: flex;
  flex-direction: column;
  color: #c6cace;
}

.time-table-item {
  flex-basis: 100%;
  display: flex;
}

.time-table-item p, .time-table-item a { 
  padding: 20px 0 21px 10px;
  border-right: .3px solid #c6cace;
  border-bottom: .3px solid #c6cace; 
}

.time-table-item a { padding-left: 0; }

.exercise-type { flex-basis: 24.2%; }

.timing { flex-basis: 32.7%; }

.weekly-schedule .trainer-name { flex-basis: 24.4%; }

.exercise-type, .trainer-name { text-transform: capitalize; }

.join-btn {
  border-right: none;
  flex-basis: 20%;
  color: #53d494;
  text-align: center;
  text-transform: capitalize;
}

/*=================================
 schedule styling ends here
=================================*/ 

/*=================================
 trainers styling starts here
=================================*/

.trainers-section { padding: 75px 0; }

.trainers {
  display: flex;
  justify-content: space-between;
}

.trainer-list { flex-basis: 29.2%; }

.trainer-list:nth-of-type(2n) { margin-top: 50px; }

.trainer-img img { box-shadow: 10px 10px #53d494; }

.trainer-text { margin-top: 52px; }

.trainers-section .trainer-name {
  color: #fff;
  font-size: 26px;
  text-transform: capitalize;
}

.trainer-speciality {
  margin: 15px 0 35px;
  line-height: 1;
  text-transform: capitalize;
}

.trainer-info {
  font-size: 16px;
  line-height: 1.8;
}

/*=================================
 trainers styling ends here
=================================*/ 


/*=================================
 service styling starts here
=================================*/ 

.service { padding: 70px 0px; }

.card-section { color: #fff; }

.cards {
  box-sizing: border-box;
  margin-right: 20px;
  padding: 70px 63px;
  background-color: #53d494;
}


.card-title {
  margin: 35px 0;
  font-size: 25px;
  text-transform: capitalize;
}

.card-info {
  color: #c1f1db;
  font-weight: 100;
  line-height: 2;
}

.cards::before {
  font-family: "FontAwesome";
  font-size: 51px;  
}

.crossfit::before { content: "\f787"; }

.aerobics::before { content: "\f21e"; }

.gym::before { content: "\f44b"; }

.diet::before { content: "\f2e7"; }

.cardio::before { content: "\f70c"; }

/*=================================
 service styling ends here
=================================*/ 

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 

/*=================================
  contact styling starts here
=================================*/ 

.contact-section .wrapper { width: 32.8%; }

.contact-section {
  padding: 38px 0 100px;
  background-color: #121212;
}

.contact-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.form-group {
  box-sizing: border-box;
  margin-bottom: 15px;
  flex-basis: 100%;
  background: none;
}

input, textarea {
  box-sizing: border-box;
  width: 100%;
  border: 2px solid #fff;
  padding: 8px 11px;
  background: none;
  color: #fff;
  font-size: 15px;
  font-family: inherit;
}

.form-group:last-child { margin-bottom: 8px; }

.form-group-name { flex-basis: calc(50% - 15px); }

.submit-btn {
  padding: 21px 102px;
  border: 1px solid #53d494;
  background-color: #53d494;
  font-size: 11.5px;
  font-weight: 900;
  line-height: 1;
}

.error { 
  padding-bottom: 12px;
  color: #FD5D5D;
  font-size: 12px;
  font-style: italic;
}

.error-border { border: 2px solid #FD5D5D; }

/*=================================
  contact styling ends here
=================================*/ 

/*=================================
  footer-info styling starts here
=================================*/ 

.footer-info {
  margin: 117px 0;
  color: #fff;
  }
  
  .footer-info .wrapper {
  display: flex;
  justify-content: space-between;
  }
  
  .footer-info a, .copyright a {
  color: #53d494;
  text-transform: capitalize;
  }
  
  .about, .subscribe { flex-basis: 31.7%; }
  
  .links { flex-basis: 15%; }
  
  .footer-info-title {
  margin-bottom: 21px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  }
  
  .footer-info-text {
  color: #474e46;
  font-size: 16px;
  line-height: 1.7;
  }
  
  .links-list {
  display: flex;
  flex-direction: column;
  }
  
  .links-list li { margin-bottom: 12px; }
  
  .subscribe-form {
  box-sizing: border-box;
  margin-top: 14px;
  display: flex;
  }
  
  .subscribe-form input{
  margin: 0;
  border-radius: 0;
  }
  
  .sub-btn {
  box-sizing: border-box;
  padding: 15px 12px;
  border: 1px solid #53d494;
  border-radius: 0;
  background-color: #53d494;
  font-size: 12px;
  font-weight: 900;
  line-height: 1;
  }
  
  /*=================================
  footer-info styling ends here
  =================================*/ 
  
  /* copyright section starts here */
  
  .copyright { padding: 68px 0 143px; }
  
  .copyright-text {
  color: #474e46;
  font-size: 15px;
  text-align: center;
  }

 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/

@media only screen and (max-width: 2560px) and (min-width: 768px) {

  .nav-items button:hover { color: #53d494; }

  .contact-btn:hover {
    background-color: #53d494;
    color: #fff;
  }

  .get-in-touch-btn a:hover {
    background-color: transparent;
    color: #53d494;
  }

  .day:hover {
    background-color: #53d494;
    color: #fff;
  }

  .submit-btn:hover {
    background-color: transparent;
    color: #53d494;
  }

} 


@media only screen and (max-width: 2560px) and (min-width: 2000px) {

  .banner-title { font-size: 150px; }

  .count { font-size: 52px; }

  .count-name { font-size: 20px; }

  .section-title { font-size: 60px; }

  .section-info { font-size: 21px; }

  .get-in-touch-btn { bottom: 15%; }

  .trainers-section .trainer-name { font-size: 35px; }

  .trainer-speciality { font-size: 20px; }

  .trainer-info { font-size: 18px; }

  .cards::before { font-size: 60px; }

  .card-title { font-size: 40px; }

  .card-info { font-size: 23px; }

  .footer-info-title { font-size: 20px; }

  .footer-info-text { font-size: 18px; }
}

/*media query for 2560px to 2000px ends here*/

/*media query for 1440px starts here*/

@media only screen and (max-width: 1440px) {

  .wrapper { width: 70%; }
  
  .nav-section { flex-basis: 55%; }

  .get-in-touch-btn { bottom: 3%; }

  .day-list { width: 100%; }

  .count { font-size: 37px; }

  .contact-section .wrapper { width: 40%; }

  .cards { padding: 50px 40px; }

  .submit-btn { padding: 21px 70px; }
}

/*media query for 1440px ends here*/

/*media query for 1280px starts here*/

@media only screen and (max-width: 1280px) {

  .nav-section { flex-basis: 65%; }

  .banner-title { font-size: 100px; }

  .get-in-touch-img figure { 
    display: flex;
    justify-content: flex-end;
  }

  .get-in-touch-img img { width: 80%; }

  .get-in-touch-btn { bottom: 0; }

  .get-in-touch-btn a { padding: 15px 27px; }

}

/*media query for 1280px ends here*/


/*media query for 1024px starts here*/

@media only screen and (max-width: 1024px) {

  .nav-section { flex-basis: 70%; }

  .banner-title { font-size: 80px; }

  .counter-item { gap: 15px; }

  .counter-item::before { font-size: 35px; }

  .count { font-size: 30px; }

  .section-title { font-size: 35px; }

  .count-name, .section-info { font-size: 12px; }

  .classes { padding: 70px 0 25px; }

  .schedule { padding: 20px 0; }

  .time-table-item p, .time-table-item a { font-size: 14px; }

  .day-list { width: 100%; }

  .trainers-section { padding: 40px 0; }

  .trainers-section .trainer-name { font-size: 20px; }

  .trainer-speciality { 
    margin: 10px 0 20px;
    font-size: 13px; 
  }

  .trainer-info { font-size: 12px; }

  .cards::before { font-size: 33px; }

  .card-title {
    margin: 17px 0;
    font-size: 21px;
  }

  .card-info { font-size: 12px; }

  .contact-section .wrapper { width: 50%; }

  .footer-info-text { font-size: 12px; }
}

/*media query for 1024px ends here*/

/*media query for 768px starts here*/
@media only screen and (max-width: 768px) {

  .wrapper { width: 80%; }

  .header-section { right: 5.7%; }

  .header-section .wrapper { justify-content: space-between; }

  .nav-section { display: none; }

  .nav-items { margin-right: 20px; }

  .control-btn-div { 
    margin-left: auto;
    display: block;
  }

  .control-btn {
    color: #fff;
    background: none;
    border: none;
    overflow: hidden;
    text-indent: -13px;
  }

  .control-btn::after {
    color: #fff;
    font-size: 25px;
    font-family: "FontAwesome";
  }

  .hamburger-btn::after { content: "\f0c9";  }

  .close-btn::after { content: "\f054"; }

  .contact-btn-div { display: none; }

  .banner-title { font-size: 70px; }

  .counter-section { padding: 50px 0; }

  .counter-item::before { font-size: 25px; }

  .count { font-size: 22px; }

  .count-name { font-size: 10px; }
  
  .section-info { 
    margin-bottom: 30px;
    font-size: 10px; 
  }

  .get-in-touch-text { flex-basis: 55%; }

  .get-in-touch-btn a { 
    padding: 10px 20px; 
    font-size: 10px;
  }

  .section-title { 
    margin: 30px 0 15px;
    font-size: 30px; 
  }

  .day {
    padding: 10px 15px;
    font-size: 14px;
  }

  .time-table-item p, .time-table-item a {
    padding: 17px 10px;
    font-size: 10px;
  }

  .trainers-section { padding: 20px 0; }

  .trainers {
    margin-top: 35px;
    flex-direction: column;
  }

  .trainer-list:not(:last-child) { margin: 0 0 40px; }

  .trainer-speciality { margin: 17px 0; }

  .contact-section { padding: 40px 0; }

  .contact-section .wrapper { width: 70%; }

  .footer-info { margin: 45px 0; }

  .footer-info .wrapper {
    width: 50%;
    flex-direction: column;
    text-align: center;
  }

  .footer-info .wrapper > div { margin: 10px 0; }

  .copyright {padding: 30px 0; }


.show { display: block; }

.responsive-nav {
  height: 100vh;
  padding: 110px 40px 0;
  flex-direction: column;
  justify-content: flex-start;
  gap: 30px;
  position: absolute;
  right: -6%;
  top: -22px;
  bottom: 0;
  z-index: 2;
  background-color: #000;
  animation: fade 1s ease-in-out;
}

.responsive-contact-btn {
  display: block;
  position: relative;
  z-index: 2;
  animation: fade 1s ease-in-out;
}

}  

/*media query for 768px ends here*/


/*media query for 500px starts here*/

@media only screen and (max-width: 500px) {

  .banner-title { font-size: 50px; }

  .counter-list { 
    justify-content: space-between;
    flex-wrap: wrap; 
    gap: 20px;
  }

  .counter-item { flex-basis: 40%; }  

  .section-title { 
    padding-bottom: 10px;
    font-size: 22px;
  }

  .section-text { width: 90%; }

  .get-in-touch-section .wrapper { 
    flex-direction: column; 
  }

  .get-in-touch-img img { width: 100%; }

  .get-in-touch-btn { bottom: -10px; }

  .gym-classes { padding: 20px; }

  .radio-btn { padding: 3px; }

  .weekly-schedule { 
    margin: 10px 0;
    flex-direction: row; 
    align-items: baseline;
  }

  .time-table { 
    border: none;
    flex-basis: 100%;
  }

  .time-table p, .time-table a {
    border: none;
    padding: 10px;
  }

  .time-table-item {
    border: 1px solid;
    margin-bottom: 10px;
    display: block;
    flex-basis: 100%;
  }

  .day-list {
    flex-basis: 50%;
    flex-direction: column;
    align-items: flex-start;
  }

  .cards { padding: 16px; }

  .contact-section { padding: 30px 0; }

  .contact-section .wrapper { width: 90%; }

  .submit-btn { padding: 20px 40px; }

  .footer-info .wrapper { width: 80%; }
}

/*media query for 425px ends here*/


/* animation */

@keyframes fade {
  from { opacity: 0; }
  to { opacity: 1; }
}


/* styling for js */

.hide { display: none; }

.fade { animation: fade 1s ease-in-out ; }


/* Slick Slider */
.slick-slider
{
    position: relative;
    display: block;
    box-sizing: border-box;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    /* cursor: hand; */
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}

/* Slider */



/* Dots */

.slick-dots
{
    position: absolute;
    bottom: -35px;
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}
.slick-dots li
{
    position: relative;
    display: inline-block;
    margin: 0 5px;
    padding: 0;
}
.slick-dots li button
{
    font-size: 0;
    padding: 5px;
    border: none;
    border-radius: 50%;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li.slick-active button
{
    background-color: #53d494;
}