@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  background-color: #000;
  color: #53533a;
  font-family: "Poppins", sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  width: 58%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/

.header-section {
  position: absolute;
  top: 26px;
  left: 5.7%;
  right: 7.5%;
}

.header-section .wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  color: #fff;
}

.logo { flex-basis: 33.7%; }

.menu-section {
  display: flex;
  justify-content: space-between;
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  flex-basis: 61.3%;
}

.control-btn { display: none; }

.nav-section { flex-basis: 48%; }

.nav-list {
  display: flex;
  justify-content: space-between;
  flex-basis: 90%;
}

.nav-items a {
  color: #fff;
  font-size: 16px;
  text-transform: capitalize;
}

.nav-items a:hover { color: #53d494; }

.active {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.hamburger-div { display: none; }

.btn {
  border-radius: 5px;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}

.contact-btn-div {
  align-self: flex-end;
}

.contact-btn {
  padding: 8px 19px;
  border: 1px solid #53d494;
  color: #53d494;
}

.contact-btn:hover {
  background-color: #53d494;
  color: #fff;
}

/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/

/*=================================
  banner styling starts here
=================================*/

.banner {
  height: 100vh;
  background-image: url("../image/bg.jpg"), linear-gradient(to right, #f1b1b1 , #82e6e8);
  background-position: center; 
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .wrapper {
  text-align: center;
  color: #fff;
}

.banner-title {
  font-size: 120px;
  font-weight: 700;
  line-height: 1;
  text-transform: capitalize;
}

/*=================================
  banner styling ends here
=================================*/

/*=================================
  counter section styling starts here
=================================*/

.counter-section { margin: 80px 0; }

.counter-list { display: flex; }

.counter-item {
  flex-basis: 25%;
  display: flex;
  align-items: center;
  gap: 28px;
}

.counter-item-data {
  display: flex;
  flex-direction: column;
}

.counter-item::before {
  font-family: "FontAwesome";
  font-size: 45px;
  color: #53d494;
}

.members::before { content: "\f70c"; }

.daily-visitors::before { content: "\f84a"; }

.health-program::before { content:  "\e3b2"; }

.heart-beat::before { content:  "\f21e"; }

.count {
  color: #fff;
  font-size: 40px;
  font-weight: 500;
}

.count-name {
  font-size: 16px;
  text-transform: capitalize;
}

/*=================================
  counter section styling ends here
=================================*/

/*=================================
  get in touch styling starts here
=================================*/ 

.get-in-touch-section .wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.get-in-touch-text {
  flex-basis: 40%;
}

.section-title {
  margin: 45px 0 27px;
  color: #53d494;
  font-size: 47px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.section-info {
  font-size: 17px;
  line-height: 1.8;
  margin-bottom: 60px;
}

.get-in-touch-img img{
  box-shadow: 10px 10px #53d494;
}

.get-in-touch-btn {
  position: absolute;
  bottom: 132px;
  left: 0;
}

.get-in-touch-btn a {
  padding: 21px 27px;
  border: 1px solid #53d494;
  background-color: #53d494;
  color: #000;
  font-size: 12px;
  font-weight: 700;
}

.get-in-touch-btn a:hover {
  background-color: transparent;
  color: #53d494;
}

/*=================================
  get in touch styling ends here
=================================*/ 


/*=================================
 classes styling ends here
=================================*/ 

.classes {
  margin: 175px 0;
}

.section-text {
  width: 47.5%;
}

.gym-slider {
  display: flex;
  overflow: hidden;
}

.radio-section {
  margin: 45px 0;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.radio-btn {
  padding: 5px;
  border: none;
  border-radius: 50%;
}

.active-slide { background-color: #53d494; }

/*=================================
 classes styling ends here
=================================*/ 

/*=================================
 schedule styling starts here
=================================*/ 

.day-list {
  display: flex;
  justify-content: center;
}

.day {
  padding: 13px 18px;
  border: none;
  border-radius: 5px;
  background: none;
  color: #53d494;
  font-size: 17px;
  text-transform: capitalize;
}

.selected, .day:hover {
  background-color: #53d494;
  color: #fff;
}

.time-table {
  margin-top: 47px;
  border: 1px solid #c6cace;
  display: flex;
  flex-direction: column;
  color: #c6cace;
}

.time-table-item {
  flex-basis: 100%;
  display: flex;
}

.time-table-item p, .time-table-item a { 
  padding: 20px 0 21px 10px;
  border-right: .3px solid #c6cace;
  border-bottom: .3px solid #c6cace; 
}

.exercise-type { flex-basis: 24.2%; }

.timing { flex-basis: 32.7%; }

.weekly-schedule .trainer-name { flex-basis: 24.4%; }

.exercise-type, .trainer-name { text-transform: capitalize; }

.join-btn {
  border-right: none;
  flex-basis: 17%;
  color: #53d494;
  text-align: center;
  text-transform: capitalize;
}

/*=================================
 schedule styling ends here
=================================*/ 

/*=================================
 trainers styling starts here
=================================*/

.trainers-section {
  margin: 150px 0 200px;
}

.trainers {
  display: flex;
  justify-content: space-between;
}

.trainer-list {
  flex-basis: 29.2%;
}

.trainer-list:nth-of-type(2n) { margin-top: 50px; }

.trainer-img img {
  box-shadow: 10px 10px #53d494;
}

.trainer-text {
  margin-top: 52px;
}

.trainer-name {
  color: #fff;
  font-size: 26px;
  text-transform: capitalize;
}

.trainer-speciality {
  margin: 15px 0 35px;
  line-height: 1;
  text-transform: capitalize;
}

.trainer-info {
  font-size: 16px;
  line-height: 1.8;
}

/*=================================
 trainers styling ends here
=================================*/ 

/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  